/* Main */
* {
    font-family: 'Poppins', sans-serif;
}
.dashboard-background {
    background: linear-gradient(135deg, #1A1F25 , #2B3441);
    min-height: 100vh;
    display: flex;
    color: white;
    overflow: hidden;
    flex-direction: column;
}

/* Top Bar */
.top-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background: #FFFFFF0d;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 10%;
}

.top-bar:hover .btn-text {
    display: inline-block;
}

.overbox {
    border: 1px;
    padding: 10px 10px;
    border-radius: 5px;
    background: #1A1F25;
    display: flex;
    gap:0.8rem;
    margin: 0;
}

.left-display {
    justify-self: start;
    display: flex;
    align-items: center;
    min-width: 150px;
    margin-left: 30px;
}

.date-box, .user-box {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.19);
    padding: 11px;
    border-radius: 3px;
    background: #2B3441;
}

.center-elements {
    justify-self: center;
}

.com-label h3{
    font-size: 2.5rem;
    cursor: pointer;
}

.right-elements {
    justify-self: end;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    min-width: 150px;
}

.btn{
    transition: 0.4s ease;
}

.btn-text {
    display: none;
    white-space: nowrap;
}

.btn:hover .btn-text{
    display: inline-block;
}

.power-icon {
    font-size: 20px;
}

.housekeeping-icon{
    padding-top: 6px;
    padding-bottom: 6px;
}

.user-icon {
    padding-right: 4px;
}

.housekeeping-btn{
    margin-right: 1rem;
}

/* Stats */
.stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0px 20px 2rem;
    gap: 1.5rem;
    min-width: 24rem;
}

.stat-card {
    background: #2B3441;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: 0.3s ease;
    min-height: 7rem;
    min-width: 100px;
}

.stat-card:hover {
    transform: translateY(-2px);
}

.stat-icon {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.rooms {
    background: rgba(46, 204, 113, 0.2);
    color: #2ECC71;
    padding-left: 15px;
    padding-right: 15px;
}
.full-night {
    background: rgba(155, 89, 182, 0.2);
    color: #9b59b6;
}
.day-caution{
    background: rgba(241, 196, 15, 0.2);
    color: yellow;
}
.session{
    background: rgba(52, 152, 219, 0.2);
    color: #3498db;
}
.housekeeping{
    background: rgba(208, 108, 8, 0.2);
    color: #f8822f;
    padding-left: 14px;
    padding-right: 14px;
}
.maintenance {
    background: rgba(231, 76, 60, 0.2);
    color: #e74c3c;
}
.revenue{
    background: rgba(0, 253, 0, 0.2);
    color: gold;
}
.food{
    background: rgba(231, 76, 60, 0.2);
    color: gold
}

.stat-info h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    opacity: 70%;
}

.stat-info p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

/* Dashboard */
.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 0 10px 2rem;
    height: 40rem;
}

.dashboard-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 1.5rem;
    margin: 0px 12px 2rem;
    backdrop-filter: blur(12px);
}

.card-header {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.icon-space {
    margin-right: 1rem;
}

.reservation-input, .checkout-input, .income-input{
    gap: 1rem;
}

.date-input {
    height: 45px !important;
    width: 135px !important;
    font-size: 1.1rem !important;
    padding: 8px 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.date-input:hover {
    border-color: rgb(255, 255, 255) !important;
}

/* Reservations List */
.reservations-list, .checkout-list, .income-list {
    padding: 1.5rem;
    max-height: 500px;
    overflow-y: auto;
}

.reservations-list::-webkit-scrollbar, .checkout-list::-webkit-scrollbar, .income-list::-webkit-scrollbar {
    width: 8px;
}

.reservations-list::-webkit-scrollbar-track, .checkout-list::-webkit-scrollbar-track, .income-list::-webkit-scrollbar-track {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

.reservations-list::-webkit-scrollbar-thumb, .checkout-list::-webkit-scrollbar-thumb, .income-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.reservations-list::-webkit-scrollbar-thumb:hover, .checkout-list::-webkit-scrollbar-thumb:hover, .income-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}

.reservation-item, .checkout-item, .income-item{
    display: flex;
    align-items: center;
    padding: 1.25rem;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    transition: 0.3s ease;
}

.reservation-item:hover, .checkout-item:hover, .income-item:hover {
    background: rgba(255, 255, 255, 0.08);
    transform: translateY(-2px);
}

.reservation-icon, .checkout-icon, .income-icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 1.5rem;
    margin: 0 1.5rem 0 1rem;
}

.reservation-details, .checkout-details, .income-details {
    flex: 1;
}

.reservation-details h5, .checkout-details h5, .income-details h5 {
    margin: 0 0 0.5rem 0;
}

.reservation-details p, .checkout-details p, .income-details p {
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.no-reservation, .no-checkout, .no-income {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.no-reservation-icon, .no-checkout-icon, .no-income-icon {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px
}

/* Check out */
.checkout-room-no {
    font-size: 2.3rem;
}

.income {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: green;
}

.income-food {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #005380;
}

/* Reservation Modal */
.modal-color {
    background: #1A1F25 !important;
    border-radius: 10px !important;
}

.mcc {
    background: #2B3441 !important;
    border-radius: 10px !important;
}

.modal-title {
    font-size: 1.6rem !important;
}

.option {
    align-items: center;
    justify-content: center;
    padding-top: 1.4rem !important;
    padding-bottom: 0.9rem !important;
}